<div id="share-exp">
<div id="share-exp">
  <h2>Share your Experience</h2>
</div>

<div class="container-inputForm">
  <form action="/experience" method="POST" enctype="multipart/form-data" class="createExp-inputForm">
    <div class="input-div">
      {{!-- <label for="title">Title</label> --}}
      <input class="create-input" type="text" placeholder="Title" name="title" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="image-input">Image</label> --}}
      <input class="create-input" type="file" placeholder="Image" name="image" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="description">Brief Description</label> --}}
      <input class="create-input" type="text" placeholder="Description" name="description" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="street">Street name</label> --}}
      <input class="create-input" type="text" placeholder="Street" name="street" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="number">Number</label> --}}
      <input  class="create-input" type="number" placeholder="Number" name="number" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="zipCode">Zipcode</label> --}}
      <input class="create-input" type="number" placeholder="Zipcode" name="zipCode" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="city">City</label> --}}
      <input class="create-input" type="text" placeholder="City" name="city" autocomplete="off">
    </div>

    <div class="input-div">
      {{!-- <label for="country">Country</label> --}}
      <input class="create-input" type="text" placeholder="Country" name="country" autocomplete="off">
    </div>

    <div class="create-btn-div">
      <button class="submit-btn" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>