<body>


  <nav class="container">
    <a href="/signup" id="signup-btn" class="signup-btn">Signup</a>
    <a href="/login" id="login-btn" class="login-btn">Login</a>
    <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </nav>

  <h1>Authentic Experiences: Meet local artisans wherever you go</h1>
  <h2>for travelers, by travelers</h2>


  <p>Description or Quote</p>
  <div class="wrapper">
    <a href="/dashboard" browse" class="browse">Browse experiences</a>
    <a href="/signup" class="shareExperiences">Share experiences</a>
  </div>
</body>