<div class="navbar-container-landing">

  <a class="navbar-link-home navbar-link" href="/">home</a>
  <a class="navbar-link" href="/signup">signup</a>
  <a class="navbar-link" href="/login">login</a>
  
  {{!-- {{#if isAuthenticated}}
  <a class="navbar-link" href="/logged">profile</a>
  <a href="/auth/logout" class="navbar-link">log out</a>
  {{else}}
  <a class="navbar-link" href="/auth/login">log in</a>
  <a href="/auth/signup" class="navbar-link">sign up</a>
  {{/if}} --}}
</div>

<div class="landing">
  <div class="landing-container">
    <div class="landing-logo">
      <h1>Share authentic travel experiences by meeting your local artisans </h1>
    </div>
    <div class="landing-input-container">
      <a href="/inputForm" id"inputForm" class="input-form">Share your<br>own Experience</a> 
      <a href="/dashboard" browse class="browse">Browse<br>experiences</a>
   
    </div>
  </div>
  <div class="content">
    <div class="content-features">
      <h2>What you can do</h2>
      <div class="description-features">
      <p>Look up artisans and share information artisans that you know of as well. Create an account to keep track of your submissions. In the future you can discuss your visits by starting a comment thread as well</p>
      </div>
    </div>
    <div class="content-about-us">
      <h2>about us</h2>
      <div class="description-about-us">
      <p>This is a platform created by travelers for travelers. The whole idea started in the search for finding things to do outside of the usual tourist circuit when visiting a place. One of our more memorable experiences was when wandering around and stumbling upon a local artisan creating products that reflect that place. Thus came about the idea to create a database to collect such memorable encounters</p>
    </div>
    
  </div>
</div>
{{!-- <div class="footer"> --}}
  

 


