<body>
  

  <nav class="container">
    <button id="signup" class="signup">Signup</button>
    <button id="login" class="login">Login</button>
  </nav>

  <h1>Authentic Experiences: Meet local artisans wherever you go</h1>
  <h2>for travelers, by travelers</h2>


    <p>Description or Quote</p>
  <div class="wrapper"> 
    <button id="browse" class="browse">Browse experiences</button>
    <button id="share" class="share">Share experiences</button>
  </div>

  
</body>