  <nav class="container">
    <button id="signup-btn" class="signup-btn">Signup</button>
    <button id="login-btn" class="login-btn">Login</button>
  </nav>

<div class="overview-container">
<p>Title</p>
<p>Description</p>
<button id="main-pg" class="main-pg">Main Page</button>
</div>
