@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
a {
  color: green; }

body {
  box-sizing: border-box;
  max-width: 100vw; }

input {
  border: none; }

.landing-container {
  width: 100%;
  overflow-x: hidden;
  height: 80vh;
  background-image: url(/images/);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.navbar-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 0em;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  line-height: 1.3; }

.navbar-link:hover {
  text-decoration: none;
  color: green; }

.experience-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  margin-top: 3.0rem;
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-align: center;
  padding-bottom: 1rem; }

/* .landing-logo {
  
} */
/* .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.5px solid #a6adb4;
  padding: 10px 0; } */
#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw; }

.signup-title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-size: 1,5em;
  font-weight: 10;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.signup-input-container {
  width: 30%;
  height: 40%; }

.signup-input-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.input-div {
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  border: none;
  border-bottom: 1.5px solid #b2b8be;
  color: black;
  font-size: 2em;
  font-weight: 300;
  text-align: center; }

.signup-input:focus {
  outline: none;
  border-bottom: 1.5px solid black;
  padding: 10px; }

.signup-input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  line-height: 1.3;
  font-weight: 100;
  color: black; }

.signup-input:focus::-webkit-input-placeholder {
  color: transparent; }

.signup-btn {
  box-sizing: border-box;
  border-bottom: 1.5px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  line-height: 1.3;
  margin-top: 20px;
  display: block; }

/*# sourceMappingURL=style.css.map */